    <a href="#main-content" class="skip-link">Skip to main content</a>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html#home"><img src="logo-2.avif" alt="Glowstone" class="navbar-logo" width="144" height="54"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="about.html" data-bs-toggle="dropdown" aria-expanded="false">About</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="about.html">About Us</a></li>
                            <li><a class="dropdown-item" href="sustainability.html">Sustainability</a></li>
                            <li><a class="dropdown-item" href="our-story.html">Our Story</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="collection-domestic.html">Collection</a></li>
                    <li class="nav-item"><a class="nav-link" href="care-maintenance.html">Care &amp; Maintenance</a></li>
                    <li class="nav-item"><a class="nav-link" href="technical-specification.html">Technical Specification</a></li>
                    <li class="nav-item"><a class="nav-link" href="installation.html">Installation</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#visualizer">Visualizer</a></li>
                    <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
